<!-- Default form login -->
<div class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="email" #userName class="form-control mb-4" placeholder="E-mail" required>
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" #userPassword class="form-control mb-4" placeholder="Password" required>
  
    
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" (click)="login(userName.value, userPassword.value)">Sign in</button>
  
</div>
<!-- Default form login -->
  